body {
    background-image: linear-gradient(to top, #05111f, #0d2541)
}

#pre-op-title {
  width: 266px;
  height: 33px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #f5f5f5;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.pre-op-step {
    color: #f5f5f5;
    text-align: center;
    height: 22px;
    font-size: 16px;
}

#detect-text, #detected-text, #pre-op-checklist-item, #pre-op-checklist-complete {
  font-size: 56px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #f5f5f5;
}

#detected-subtitle, #proceed-subtitle, #begin-surgery-subtitle {
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #f5f5f5;

}
